# Byte-compiled / optimized / DLL files
__pycache__/

output/

# virtualenv
.venv
venv/
ENV/

# work files
XGBoost*/
cnn_predicted_cry/
X*/
baby-cry-*/
baby_cry_*/
audio/
libs/audio_samples/*
*.csv
*.ipynb

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

.idea/*
.vs/*
.vscode/*
