# Byte-compiled / optimized / DLL files
__pycache__/

output/

# virtualenv
.venv
venv/
ENV/

# work files
X4/
X5/
audio/
baby-cry-verified/
libs/audio_samples/*
*.csv
*.ipynb

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

.idea/*
.vs/*
.vscode/*
